<!-- Titre de la page -->
<app-page-title
  [title]="'Mes portefeuilles'"
  [subtitle]="'Papa\'s Travel'"></app-page-title>

<!-- Liste de WalletCards -->
<mat-grid-list cols="3" rowHeight="200px">
  <mat-grid-tile *ngFor="let wallet of myWallets">
    <app-wallet-card [wallet]="wallet" style=""></app-wallet-card>
  </mat-grid-tile>
</mat-grid-list>

<!-- Barre d'outils -->
<mat-card class="mt-2">
  <button mat-raised-button color="primary" class="mr-1">
    Créer un portefeuille
  </button>
</mat-card>

<mat-card class="mt-2" *ngIf="isDebug === true">
  <h2>Token</h2>
  <pre>{{ token | json }}</pre>

  <h2>AccountId</h2>
  <pre>{{ accountId | json }}</pre>

  <h2>Me</h2>
  <pre>{{ me | json }}</pre>

  <h2>My Wallets</h2>
  <pre>{{ myWallets | json }}</pre>
</mat-card>


