<h1 mat-dialog-title>Nouvelle transaction</h1>
<form [formGroup]="transactionForm" (ngSubmit)="onAddTransaction()">
  <div mat-dialog-content>
    <label><h2>Destinataire</h2></label>
    <p>

      <mat-form-field appearance="outline">
          <!-- https://dev.to/prayatna/til-how-to-use-async-pipe-and-populate-mat-select-m35 -->
          <mat-select
          placeholder="Selectionner un employé"
          formControlName="employeeId"
          (selectionChange)="reloadEmployeeWallets($event)">
          <ng-container *ngFor="let employee of (listForEmployeesDropdown$ | async)">
            <mat-option [value]="employee.employeeId">
              {{employee.employeeFullName}}
            </mat-option>
          </ng-container>
        </mat-select>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Portefeuille</mat-label>
        <mat-select
          placeholder="Selectionner un portefeuille"
          formControlName="walletId">
          <ng-container *ngFor="let wallet of (listForWalletsDropdown$ | async)">
            <mat-option [value]="wallet.walletId">
              {{wallet.walletName}}
            </mat-option>
          </ng-container>
        </mat-select>
      </mat-form-field>
    </p>
<!--    <p>-->
<!--      <mat-form-field appearance="outline">-->
<!--        <mat-label>Document</mat-label>-->
<!--        <mat-select>-->
<!--          <mat-option value="one">First option</mat-option>-->
<!--          <mat-option value="two">Second option</mat-option>-->
<!--        </mat-select>-->
<!--      </mat-form-field>-->
<!--    </p>-->
    <p>
      <mat-form-field appearance="outline" floatLabel="always">
        <mat-label>Montant</mat-label>
        <input
          matInput type="number"
          formControlName="amount"
          class="example-right-align"
          placeholder="0,00"/>
        <span matPrefix> €&nbsp;</span>
      </mat-form-field>
    </p>

    <div mat-dialog-actions [align]="'end'">
      <button
        mat-raised-button
        color="warn"
        [mat-dialog-close]="false"
      >
        Fermer
      </button>
      <button
        style="margin-left: 8px"
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="!transactionForm.valid"
        [mat-dialog-close]="true"
      >
        Enregistrer
      </button>
    </div>
  </div>
</form>
