<div class="container">
  <ul>
    <li router routerLinkActive="active">
      <h2><a routerLink='../create'>Créer une organization</a></h2>
    </li>
    <li router routerLinkActive="active">
      <h2><a routerLink='../detail/:id'>Afficher une organization existante</a></h2>
    </li>
    <li router routerLinkActive="active">
      <h2><a routerLink='../update'>Modifier une organization existante</a></h2>
    </li>
    <li router routerLinkActive="active">
      <h2><a routerLink=''>Afficher la liste des organizations</a></h2>
    </li>
    <li router routerLinkActive="active">
      <h2><a routerLink='../delete/:id'>Supprimer une organization</a></h2>
    </li>
  </ul>
</div>
