<!--
  <form [formGroup]="payloadFormGroup">
    <label for="firstname">Firstname</label>
    <br>
    <input type="text" id="firstname" name="firstname" formControlName="firstname"/><br/>
    <br>
    <div *ngIf="payloadFormGroup.get('firstname')!.errors">
      <app-error [error]="payloadFormGroup.get('firstname')!.errors!"></app-error>
    </div>
    <br>
    <label for="lastname">Lastname</label>
    <br>
    <input type="text" id="lastname" name="lastname" formControlName="lastname"/><br/>
    <br>
    <div *ngIf="payloadFormGroup.get('lastname')!.errors">
      <app-error [error]="payloadFormGroup.get('lastname')!.errors!"></app-error>
    </div>
    <br>
    <button (click)="save($event)">Save</button>
    <br>
    <button (click)="update($event)">Update</button>
    <br>
  </form>
  <ng-container *ngIf="response">
    {{response |json}}
  </ng-container>
  -->
