<form [formGroup]="formGroupAcc"  novalidate>
  <div class="table-form">
    <div class="row">
      <div class="cell">
        <app-form-input [type]="'text'"
                        formControlName="firstname"
                        [name]="'firstname'"
                        [label]="'app.account.form.label.firstname'"
                        [placeholder]="'app.account.form.placeholder.firstname'"
                        [readonly]="false"></app-form-input>
      </div>
      <div class="cell">
        <app-form-input [type]="'text'"
                        formControlName="lastname"
                        [name]="'lastname'"
                        [label]="'app.account.form.label.lastname'"
                        [placeholder]="'app.account.form.placeholder.lastname'"
                        [readonly]="false"></app-form-input>
      </div>
    </div>
  </div>
</form>
