<div class="btn" appClickOutside (onClickOutSide)="showMenu=false" (click)="showMenu=!showMenu" [class.opened]="showMenu">
  <div class="circle-menu">
    <img src="https://i.pravatar.cc/60"/>
  </div>
</div>
<div class="menu" [class.hide-menu]="!showMenu" [class.show-menu]="showMenu">
  <div class="top">
    <div class="left">
      <div class="name"><span>john</span> <span>doe</span></div>
      <span class="show-profile" (click)="showProfile()">{{'menu.show-profile' | translate}}</span>
    </div>
    <span class="logout" (click)="logout()">
        <i class="fa-solid fa-power-off"></i>
      </span>
  </div>
  <div class="notification">
    <div class="title-center">
      <i class="fa-light fa-bell"></i> <span>{{'notification.notification-center' | translate}}</span></div>
    <span class="nothing">{{'notification.nothing-to-show' | translate}}</span>
  </div>
</div>
