<div class="container">

  <ul>
    <li router routerLinkActive="active">
      <h2><a routerLink="../create">Créer un portefeuille</a></h2>
    </li>
    <li router routerLinkActive="active">
      <h2><a routerLink="../detail/:id">Afficher un portefeuille</a></h2>
    </li>
    <li router routerLinkActive="active">
      <h2><a routerLink="../update/:action/:id">Modifier un portefeuille</a></h2>
    </li>
    <li router routerLinkActive="active">
      <h2><a routerLink="">Afficher tous les portefeuilles</a></h2>
    </li>
    <li router routerLinkActive="active">
      <h2><a routerLink="../delete">Supprimer un portefeuille</a></h2>
    </li>
  </ul>
</div>
