<!--<app-document-menu></app-document-menu>-->
<button (click)="create()">créer</button>
<ng-container *ngIf="documentService.list$ | async as list">
  <ng-container *ngIf="list.length > 0 ; else noData">
    {{list | json}}
    <table>
      <tr>
        <td>id</td>
        <td>nom</td>
        <td>path</td>
        <td></td>
      </tr>
      <tr *ngFor="let item of list; let last=last">
        <td>{{item.id}}</td>
        <td>{{item.name}}</td>
        <td>{{item.path}}</td>
        <td><button (click)="update(item)">update</button><button (click)="delete(item)">Delete</button></td>
      </tr>
    </table>
  </ng-container>
</ng-container>

<ng-template #noData>
  <div> Aucun document</div>
</ng-template>
