mat-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

mat-card-title {
  margin-top: 14px;
}

.card-button {
  text-align: right;
}

.mr-1 {
  background-color: #304858;
  font-size: 16px;
  font-weight: 500;
  color: white;
  margin-right: 10px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.fixed-logo {
  height: 80px;
}
