<div class="container">
  <ul>
    <li router routerLinkActive="active">
      <h2><a routerLink='../create'>Créer un compte</a></h2>
    </li>
    <li router routerLinkActive="active">
      <h2><a routerLink='../detail/:id'>Afficher un compte existant</a></h2>
    </li>
    <li router routerLinkActive="active">
      <h2><a routerLink='../update'>Modifier un compte existant</a></h2>
    </li>
    <li router routerLinkActive="active">
      <h2><a routerLink=''>Afficher la liste des comptes</a></h2>
    </li>
    <li router routerLinkActive="active">
      <h2><a routerLink='../delete/:id'>Supprimer un compte</a></h2>
    </li>
  </ul>
</div>
