<br>
<mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon (click)="openCreate()">build</mat-icon>
  </button>
  <span>Ajouter un contact</span>
</mat-toolbar>
<br>
<mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon (click)="openDetail()">description</mat-icon>
  </button>
  <span>Détail d'un contact</span>
</mat-toolbar>
<br>
<mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon (click)="openUpdate()">create</mat-icon>
  </button>
  <span>Modifier contact</span>
</mat-toolbar>
<br>
<mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon (click)="openDelete()">delete</mat-icon>
  </button>
  <span>Supprimer contact</span>
</mat-toolbar>
