<br>
<br>
<mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon (click)="openCreate()">build</mat-icon>
  </button>
  <span>Créer un document</span>
</mat-toolbar>
<br>
<mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon (click)="openDetail()">description</mat-icon>
  </button>
  <span>Afficher un document</span>
</mat-toolbar>
<br>
<mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon (click)="openUpdate()">create</mat-icon>
  </button>
  <span>Modifier un document existant</span>
</mat-toolbar>
<br>
<mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon (click)="openList()">file_copy</mat-icon>
  </button>
  <span>Afficher la liste des documents</span>
</mat-toolbar>
<br>
<mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon (click)="openDelete()">delete</mat-icon>
  </button>
  <span>Supprimer un document</span>
</mat-toolbar>

