<br>
<br>
<div class="container">
<ul>
<li router routerLinkActive="active">

  <h2><span _ngcontent-vgu-c90="" class="fa-pencil-alt fas icon"></span>
    <a routerLink='../create' class="big-title">  Créer un document</a>
  </h2>
</li>
<li router routerLinkActive="active">
  <h2><a routerLink='../detail/:id'>Afficher un document existant</a></h2>
</li>
<li router routerLinkActive="active">
  <h2><a routerLink='../update/:action/:id'>Modifier un document existant</a></h2>
</li>
<li router routerLinkActive="active">
  <h2><a routerLink='../list'>Afficher la liste des documents</a></h2>
</li>
<li router routerLinkActive="active">
  <h2><a routerLink='../delete'>Supprimer un document</a></h2>
</li>
</ul>
</div>
