<mat-card
  *ngIf="wallet !== undefined && wallet.actif"
  class="{{getCssCardColor()}}"
>
  <mat-card-header>
    <mat-card-title>{{this.wallet.name}}</mat-card-title>
    <mat-card-subtitle>{{this.wallet.type}}</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <p>{{this.wallet.description}}</p>
  </mat-card-content>

  <mat-card-actions>
    <button mat-raised-button routerLink="{{getDetailRoutes()}}" routerLinkActive="active" >DETAILS</button>
    <button mat-icon-button color="warn" (click)="deleteWallet()">
      <mat-icon>delete</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
