@import '~assets/css/common';
.switch{
  @extend  .transition-all-ease-3s;
  position:relative;
  width:60px;
  height:30px;
  background:$eee;
  border-radius: 15px;
  .ball{
    width:26px;height:26px;
    border-radius: 13px;
    background:$white;
    position: absolute;
    top:2px;
    left:1px;
  }
}
.selected{
  @extend  .transition-all-ease-3s;
  background:$info-clear;
  .ball{
    left:32px;
  }
}
