<!-- Titre de la page -->
<app-page-title
  [title]="'Mes portefeuilles'"
  [subtitle]="'Papa\'s Travel'"
  [badgeContent]="myWallets?.length"
>
</app-page-title>

<!-- Barre d'outils -->
<mat-card class="mt-2">
  <button mat-raised-button class="mr-1" (click)="openCreateWalletDialog()">
    Créer un portefeuille
  </button>
</mat-card>

<!-- Liste de WalletCards -->
<mat-grid-list cols="3" gutterSize="10px">
  <mat-grid-tile *ngFor="let wallet of myWallets; let i = index" [attr.data-index]="i">
    <app-wallet-card
      [wallet]="wallet"
      (click)="selectTransactionForWallet(i)"
      style="width: 100%;"></app-wallet-card>
  </mat-grid-tile>
</mat-grid-list>

<!-- Tableau de transactions -->
<table mat-table [dataSource]="myTransactions" class="mat-elevation-z8 mt-2">

  <!-- Position Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> Id </th>
    <td mat-cell *matCellDef="let transaction"> {{transaction.transaction_id}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="type">
    <th mat-header-cell *matHeaderCellDef> Catégorie </th>
    <td mat-cell *matCellDef="let transaction"> {{transaction.type}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="amount">
    <th mat-header-cell *matHeaderCellDef> Montant </th>
    <td mat-cell *matCellDef="let transaction"> {{transaction.amount}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-card class="mt-2" *ngIf="isDebug === true">
  <h2>AccountId</h2>
  <pre>{{ accountId | json }}</pre>

  <h2>Me</h2>
  <pre>{{ me | json }}</pre>

  <h2>My Wallets</h2>
  <pre>{{ myWallets | json }}</pre>
</mat-card>


