<!-- Titre de la page -->
<app-page-title
  [title]="'app.wallet.my-wallets'| translate"
  [subtitle]="'Papa\'s Travel'"
  [badgeContent]="myWallets?.length"
>
</app-page-title>

<!-- Barre d'outils -->
<mat-card class="mt-2">
  <button mat-raised-button class="mr-1" (click)="openCreateWalletDialog()">
    {{'app.wallet.add-wallet' | translate}}
  </button>
</mat-card>

<!-- Liste de WalletCards -->
<mat-grid-list cols="3" gutterSize="10px" [rowHeight]="200" class="mt-2">
  <mat-grid-tile *ngFor="let wallet of myWallets; let i = index" [attr.data-index]="i">
    <app-wallet-card
      (inactiveWalletEvent)="disableWallet($event)"
      [wallet]="wallet"
      (click)="selectTransactionForWallet(i)"
      style="width: 100%;"></app-wallet-card>
  </mat-grid-tile>
</mat-grid-list>

<mat-card class="mt-2" *ngIf="isDebug">
  <h2>AccountId</h2>
  <pre>{{ accountId | json }}</pre>

  <h2>Me</h2>
  <pre>{{ me | json }}</pre>

  <h2>My Wallets</h2>
  <pre>{{ myWallets | json }}</pre>
</mat-card>


