//@import './assets/css/reset.css';
@import './assets/css/table';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.mr-1 {
  margin-right: 10px;
}

.mr-2 {
  margin-right: 20px;
}

.mt-2 {
  margin-top: 20px;
}

.mb-2 {
  margin-bottom: 20px;
}
