<!-- Titre de la page -->
<app-page-title
  [title]="'app.wallet.transactions-title' | translate: { walletName: selectedWallet?.name}"
  [subtitle]="'Papa\'s Travel'"
  [badgeContent]="selectedWallet?.transactions?.length"
>
</app-page-title>

<!-- Barre d'outils -->
<mat-card class="mt-2">
  <button mat-raised-button class="mr-1" (click)="openCreateTransactionDialog()">
    {{'app.wallet.add-transaction' | translate}}
  </button>
</mat-card>

<table mat-table [dataSource]="(selectedWallet?.transactions ?? [])" class="mat-elevation-z8 mt-2">

  <!-- Colonne Id  -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>{{ 'app.wallet.transaction-reference' | translate}}</th>
    <td mat-cell *matCellDef="let transaction"> {{transaction.transaction_id}} </td>
  </ng-container>

  <!-- Colonne Types -->
  <ng-container matColumnDef="type">
    <th mat-header-cell *matHeaderCellDef> {{'app.wallet.type-field' | translate}} </th>
    <td mat-cell *matCellDef="let transaction"> {{transaction.type}} </td>
  </ng-container>

  <!-- Colonne Montants -->
  <ng-container matColumnDef="amount">
    <th mat-header-cell *matHeaderCellDef> {{'app.wallet.amount' | translate}} </th>
    <td mat-cell *matCellDef="let transaction"> {{transaction.amount}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-card class="mt-2" *ngIf="isDebug">
  <h2>Selected Wallet and its transactions</h2>
  <pre>{{ selectedWallet | json }}</pre>
</mat-card>

