@import 'src/assets/css/variable';
.error{
  color:$error-middle;
  display: flex;
  flex-direction: column;
  justify-content: center;align-items: center;
  gap:20px;
  i{
    font-size:25px;
  }
  .txt{
    text-transform: uppercase;
  }
}
