<br>
<div mat-dialog-content>
  <form [formGroup]="formGroup">
    <mat-form-field appearance="legacy">
      <mat-label>Type de document</mat-label>
      <mat-select formControlName="type" placeholder="Type de document">
        <mat-option value="FACTURE">FACTURE</mat-option>
        <mat-option value="NOTE_DE_CREDIT">NOTE DE CREDIT</mat-option>
        <mat-option value="NOTE_DE_DEBIT">NOTE DE DEBIT</mat-option>
      </mat-select>

    </mat-form-field>
    <mat-form-field appearance="legacy">
      <mat-label>Nom du document</mat-label>
      <input formControlName="name" matInput placeholder="Name">
    </mat-form-field>

    <mat-form-field appearance="legacy">
      <mat-label>Description du document</mat-label>
      <input formControlName="description" matInput placeholder="Description">
    </mat-form-field>

    <mat-form-field appearance="legacy">
      <mat-label>Contenu du document</mat-label>
      <input formControlName="path" matInput placeholder="Path">
    </mat-form-field>

    <mat-form-field appearance="legacy">
      <mat-label>Contenu du document</mat-label>
      <input formControlName="path" matInput placeholder="Path">
    </mat-form-field>

  </form>
</div>



<div mat-dialog-actions [align]="'end'">
  <button  mat-raised-button color="primary" mat-dialog-close> Créer</button>
  <button  mat-raised-button color="accent" mat-dialog-close> Mettre à jour</button>
  <button mat-raised-button color="warn" mat-dialog-close>Annuler</button>




</div>
  <mat-card class="mt-2">
    <app-form-btn (onClick)="save()" [css]="'save-btn'"  [label]="label" >
      Créer un document
    </app-form-btn>
  </mat-card>








