<form [formGroup]="formGroupDoc"  novalidate>
  <div>

    <div class="row">
      <div class="cell">
        <app-form-input [type]="'text'"
                        formControlName="name"
                        [name]="'name'"
                        [label]="'app.document.form.label.name'"
                        [placeholder]="'app.document.form.placeholder.name'"
                        [readonly]="false"></app-form-input>
      </div>

      <div class="cell">
        <app-form-input [type]="'text'"
                        formControlName="type"
                        [name]="'type'"
                        [label]="'app.document.form.label.type'"
                        [placeholder]="'app.document.form.placeholder.type'"
                        [readonly]="false"></app-form-input>
      </div>
    </div>

    <div class="row">
      <div class="cell">
        <app-form-input [type]="'text'"
                        formControlName="description"
                        [name]="'description'"
                        [label]="'app.document.form.label.description'"
                        [placeholder]="'app.document.form.placeholder.description'"
                        [readonly]="false"></app-form-input>
      </div>
    </div>

    <div class="row">
      <div class="cell">
        <app-form-input [type]="'text'"
                        formControlName="path"
                        [name]="'path'"
                        [label]="'app.document.form.label.path'"
                        [placeholder]="'app.document.form.placeholder.path'"
                        [readonly]="false"></app-form-input>
      </div>
    </div>
  </div>


  <mat-card class="mt-2">
    <app-form-btn (onClick)="save()" [css]="'save-btn'"  [label]="label" >
      Créer un document
    </app-form-btn>
  </mat-card>
</form>







