@font-face {
  font-family: 'Titillium Web';
  src: url('../font/TitilliumWeb-Regular.eot');
  src: url('../font/TitilliumWeb-Regular.eot?#iefix') format('embedded-opentype'),
  url('../font/TitilliumWeb-Regular.woff2') format('woff2'),
  url('../font/TitilliumWeb-Regular.woff') format('woff'),
  url('../font/TitilliumWeb-Regular.ttf') format('truetype'),
  url('../font/TitilliumWeb-Regular.svg#TitilliumWeb-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Titillium Web';
  src: url('../font/TitilliumWeb-SemiBold.eot');
  src: url('../font/TitilliumWeb-SemiBold.eot?#iefix') format('embedded-opentype'),
  url('../font/TitilliumWeb-SemiBold.woff2') format('woff2'),
  url('../font/TitilliumWeb-SemiBold.woff') format('woff'),
  url('../font/TitilliumWeb-SemiBold.ttf') format('truetype'),
  url('../font/TitilliumWeb-SemiBold.svg#TitilliumWeb-SemiBold') format('svg');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Titillium Web';
  src: url('../font/TitilliumWeb-Light.eot');
  src: url('../font/TitilliumWeb-Light.eot?#iefix') format('embedded-opentype'),
  url('../font/TitilliumWeb-Light.woff2') format('woff2'),
  url('../font/TitilliumWeb-Light.woff') format('woff'),
  url('../font/TitilliumWeb-Light.ttf') format('truetype'),
  url('../font/TitilliumWeb-Light.svg#TitilliumWeb-Light') format('svg');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Titillium Web';
  src: url('../font/TitilliumWeb-ExtraLight.eot');
  src: url('../font/TitilliumWeb-ExtraLight.eot?#iefix') format('embedded-opentype'),
  url('../font/TitilliumWeb-ExtraLight.woff2') format('woff2'),
  url('../font/TitilliumWeb-ExtraLight.woff') format('woff'),
  url('../font/TitilliumWeb-ExtraLight.ttf') format('truetype'),
  url('../font/TitilliumWeb-ExtraLight.svg#TitilliumWeb-ExtraLight') format('svg');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

