$primary-contrast-color: #2b6777;
$secondary-contrast-color: #c8d8e4;
$white:#ffffff;
$eee:#eeeeee;
$f5: #f5f5f5;
$dark:#232323;
$warning:#e74c3c;


$nav-min-width: 68px;
$nav-max-width: 250px;
$header-height: 68px;
