$primary-contrast-color: #304858;
$secondary-contrast-color:#304858;
$primary-contrast-darker-color: #263944;
$background-panel-color: #e5e5e5;
$background-section-color: #A1A7A7;
$logo-text-color: #555;
$f8f8f8: #f8f8f8;
$grey-clear: #ececec;
$grey-82878: #82878c;
$f8f9fa: #f8f9fa;
$white: #ffffff;
$eee: #eeeeee;
$f5: #f5f5f5;
$fe: #fefefe;
$b4: #b4b4b4;
$dark: #232323;
$darker: #131313;
$grey: #cccccc;
$clear-contrast: #FF7582;
$e8e8e8: #e8e8e8;
$grey-1: #7d8084;
//error color
$error-clear: #F76D82;
$error-middle: #EC5564;
$error-dark: #D94452;

//success color
$success-clear: #62DDBD;
$success-middle: #46CEAD;
$success-dark: #35BB9B;

//warning color
$warning-clear: #FCD277;
$warning-middle: #FECD57;
$warning-dark: #F5BA45;

//info color
$info-clear: #73B1F4;
$info-middle: #5E9CEA;
$info-dark: #4B89DA;


$nav-min-width: 60px;
$nav-max-width: 250px;
$header-height: 60px;
$double-header-height:120px;
$min-height: calc(100vh - 60px);
$account-menu-show: 70px;
$context-menu-item-height:30px;
$warning: #F5BA45;
